*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul li {
    list-style: none;
}
button{
    cursor: pointer;
}

html{
    overflow-x: hidden;
}
body{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* Common */
.container{
    max-width: 1150px;
    margin: 0 auto;
}
.main-bg{
    max-width: 100%;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    background: linear-gradient( rgba(59, 59, 59, 0.6),
    rgba(0, 0, 0, 0.6) ),
    url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.nav-menu-button{
    max-width: 100%;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 20;
}
.nav-menu-button i {
    cursor: pointer;
    color: #fff;
    font-size: 45px;
    transition: .3s ease-in-out;
}
.nav-menu-button i:hover{
    transform: rotate(-180deg);
}
.navmenu{
    position: fixed;
    top: 0;
    right:-350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    background: #222;
    height: 100%;
    width: 350px;
    max-width: 100%;
    transition: .5s ease-in-out;
    border-left: 1px solid #b4b3b3;
    opacity: 0.95;
    z-index: 10;
}
.navmenu-items{
    top: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 15px;
}
.navmenu-links{
    color: #b4b3b3;
    text-transform: uppercase;
    margin-bottom: 40px;
    transition: .2s ease-in-out;
}
.navmenu-links:hover{
    transform: scale(1.2);
    color: #fff;
}
.active{
    right: 0;
}

.change-lang-box{
    display: flex;
    padding-top: 20px;
    margin-left: 25px;
}
.change-lang{
    color:#b4b3b3 ;
    margin-left: 10px;
    font-weight: bold;
    transition: .2s ease-in-out;
}
.change-lang:hover{
    color: #fff;
}
.change-lang:focus{
    color: #fff;
}

/* Contacts */
.contacts-logo{
    max-width: 100%;
    position: absolute;
    right: 5%;
    top: 20%;

}
.contacts-logo-img{
    max-width: 100%;
    width: 500px;
}

.contacts-title-box{
    max-width: 100%;
    text-align: center;
    position: absolute;
    bottom: 25%;
    left: 20%;
}
.contacts-title{
    max-width: 100%;
    letter-spacing: 2px;
    font-size: 26px;
    color: #fff;
}
.contacts-items{
    max-width: 100%;
    position: absolute;
    bottom: 5%;
    left: 33%;
}
.contacts-links{
    max-width: 100%;
    display: flex;
    align-items: center;
}
.contacts-links a{
    max-width: 100%;
    margin: 10px;
    font-size: 18px;
    color:#b4b3b3;
    display: block;
    transition: .2s ease-in-out;
}
.contacts-links a:hover{
    color: #fff;
}
.contacts-links p{
    display: block;
    max-width: 100%;
    font-size: 22px;
    color: #fff;
    margin-left: 10px;
}
.contacts-icons{
    position: absolute;
    bottom: 15%;
    left: 40%;
}
.contacts-icons i{
    font-size: 44px;
    margin: 10px;
    color:#b4b3b3;
    transition: .3s ease-in-out;
    text-shadow: 1px 1px 2px black, 0 0 15px rgb(2, 2, 2);
}
.contacts-icons i:hover{
    color: #fff;
    transform: rotate(360deg);
}


@media screen and (max-width:768px){
.contacts-links{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.contacts-items{
    bottom: 2%;
}
.contacts-icons{
    left: 26%;
}
.contacts-title-box{
    left: 1%;
}
.main-bg{
    max-width: 100%;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    background: linear-gradient( rgba(59, 59, 59, 0.6),
    rgba(0, 0, 0, 0.6) ),
    url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
}
@media screen and (max-width:501px){
.main-bg{
    max-width: 100%;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    background: linear-gradient( rgba(59, 59, 59, 0.6),
    rgba(0, 0, 0, 0.6) ),
    url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.contacts-icons {
    left: 14%;
}
.contacts-items {
    bottom: 2%;
    left: 23%;
}
.contacts-logo-img{
    width: 300px;
    max-width: 100%;
}
.contacts-logo {
    max-width: 100%;
    position: absolute;
    right: 40%;
    top: 1%;
}
.contacts-icons i {
    font-size: 30px;
}
.contacts-title-box{
    left: 1%;
}
}

@media screen and (max-width:380px){
.main-bg{
    max-width: 100%;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    background: linear-gradient( rgba(59, 59, 59, 0.6),
    rgba(0, 0, 0, 0.6) ),
    url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.contacts-items {
    bottom: 2%;
    left: 20%;
}
.contacts-title-box{
    left: 1%;
}
.contacts-title{
    font-size: 22px;
    padding: 0 15px;
}
}