*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul li {
    list-style: none;
}
button{
    cursor: pointer;
}

html{
    overflow-x: hidden;
}
body{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* Common */
.container{
    max-width: 1150px;
    margin: 0 auto;
}
.main-bg{
    max-width: 100%;
    max-width: 100%;
    width: 100vw;
    height: 100%;
    background: linear-gradient( rgba(59, 59, 59, 0.6),
    rgba(0, 0, 0, 0.6) ),
    url(../img/MediaBG.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

.nav-menu-button{
    max-width: 100%;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 20;
}
.nav-menu-button i {
    cursor: pointer;
    color: #fff;
    font-size: 45px;
    transition: .3s ease-in-out;
}
.nav-menu-button i:hover{
    transform: rotate(-180deg);
}
.navmenu{
    position: fixed;
    top: 0;
    right:-350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    background: #222;
    height: 100%;
    width: 350px;
    max-width: 100%;
    transition: .5s ease-in-out;
    border-left: 1px solid #b4b3b3;
    opacity: 0.95;
    z-index: 10;
}
.navmenu-items{
    top: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 15px;
}
.navmenu-links{
    color: #b4b3b3;
    text-transform: uppercase;
    margin-bottom: 40px;
    transition: .2s ease-in-out;
}
.navmenu-links:hover{
    transform: scale(1.2);
    color: #fff;
}
.active{
    right: 0;
}

.change-lang-box{
    display: flex;
    padding-top: 20px;
    margin-left: 25px;
}
.change-lang{
    color:#b4b3b3 ;
    margin-left: 10px;
    font-weight: bold;
    transition: .2s ease-in-out;
}
.change-lang:hover{
    color: #fff;
}
.change-lang:focus{
    color: #fff;
}

/* Media content */
.media-content-title{
    margin-top: 60px;
    margin-top: 40px;
    letter-spacing: 2px;
    font-size: 34px;
    color: #fff;
}
.media-content{
    max-width: 100%;
}
.media-content-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15px;
    margin-top: 50px;
}
.media-content-pic{
    padding: 7px;

}
.media-content-img{
    max-width: 100%;;
    width: 300px;
    height: auto;
    border: 1px solid rgb(216, 219, 218);
    transition: .3s ease-in-out;
}
.media-content-img:hover{
    transform: scale(1.05);
}
.media-video-box{
    max-width: 100%;
    margin-top: 30px;
    text-align: center;
}

.media-footer-btn{
    margin: 10px;
    max-width: 100%;
    padding: 8px 15px;
    background-color: #b4b3b3;
    border: none;
    color: #000;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    transition: .2s ease-in-out;
}
.media-footer-button{
    margin-top: 30px;
    text-align: center;
}
.media-footer-btn:hover{
    background: transparent;
    color: #fff;
    outline: 1px solid #b4b3b3;
}
.media-footer-icons{
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.media-footer-icons i{
    font-size: 44px;
    margin: 10px;
    color:#b4b3b3;
    transition: .3s ease-in-out;
    text-shadow: 1px 1px 2px black, 0 0 15px rgb(2, 2, 2);
}
.media-footer-icons i:hover{
    color: #fff;
    transform: rotate(360deg);
}

@media screen and (max-width:768px){
    .main-bg{
        max-width: 100%;
        max-width: 100%;
        width: 100vw;
        height: 100%;
        background: linear-gradient( rgba(59, 59, 59, 0.6),
        rgba(0, 0, 0, 0.6) ),
        url(../img/MediaBG.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top;
    }
    
}


@media screen and (max-width:425px){ 
    .main-bg{
        max-width: 100%;
        max-width: 100%;
        width: 100vw;
        height: 100%;
        background: linear-gradient( rgba(59, 59, 59, 0.6),
        rgba(0, 0, 0, 0.6) ),
        url(../img/MediaBG.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top;
    }
    
.media-footer-icons i{
    font-size: 30px;
}
.media-content-title{
    text-align: center;
}
}